
<div style="position: absolute;background-color: blueviolet;left: 40%;top: 30%;width: 300px;height: 300px;">
    <h>Todo</h>
<div class="row">
    <div class="col-sm-9">
        <input [(ngMode1)]="newTask"type="test" value={{shoppinglist}} class="col-7 form-control"style="width:300px">
    
    </div>
    <ul>
        <li>
    <div *ngFor="let x of items;let index=index"class="row mt-1">
    <input type="text" value={{newTask}}> 
    </li>
     </ul>   
 <div>
     <button (click)="addTodo()">
         new
     </button>
 </div>
    </div>
</div>

</div>


